/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
    src: url("file:assets/font/Pangolin-Regular.ttf");
}



.start{
	-fx-text-fill:transparent;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-image: url("file:assets/buttonImages/beginNH.png");
    -fx-pref-height: 122px;
    -fx-pref-width: 465px;
    
}

.start:hover {
        -fx-text-fill: transparent;
        -fx-background-image: url("file:assets/buttonImages/beginH.png");
        -fx-scale-y: 1.1;
        -fx-scale-x:1.1;
}

.back{
	-fx-text-fill:transparent;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-image: url("file:assets/buttonImages/backNH.png");
    -fx-pref-height: 122px;
    -fx-pref-width: 182px;
    
}

 .back:hover {
        -fx-text-fill: transparent;
        -fx-background-image: url("file:assets/buttonImages/backH.png");
        -fx-scale-y: 1.1;
        -fx-scale-x:1.1;
}


.prev{
	-fx-text-fill:transparent;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-image: url("file:assets/buttonImages/prevNH.png");
    -fx-pref-height: 92px;
    -fx-pref-width: 49px;
    
}

 .prev:hover {
        -fx-text-fill: transparent;
        -fx-background-image: url("file:assets/buttonImages/prevH.png");
        -fx-scale-y: 1.1;
        -fx-scale-x:1.1;
}


.next{
	-fx-text-fill:transparent;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-image: url("file:assets/buttonImages/nextNH.png");
    -fx-pref-height: 92px;
    -fx-pref-width: 49px;
    
}

 .next:hover {
        -fx-text-fill: transparent;
        -fx-background-image: url("file:assets/buttonImages/nextH.png");
        -fx-scale-y: 1.1;
        -fx-scale-x:1.1;
}


.playerNames{
	-fx-font-family: Pangolin;
	-fx-text-fill:"#464646";
    -fx-padding: 0;
    -fx-background-color:transparent;
 	-fx-font-size: 20px;
     -fx-pref-width: 160px;
}


.references{
	-fx-text-fill:transparent;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-image: url("file:assets/buttonImages/referenceNH.png");
    -fx-pref-height: 134px;
    -fx-pref-width: 508px;
}

.references:hover{
	-fx-text-fill: transparent;
        -fx-background-image: url("file:assets/buttonImages/referenceH.png");
        -fx-scale-y: 1.1;
        -fx-scale-x:1.1;
}


.again{
	-fx-text-fill:transparent;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-image: url("file:assets/buttonImages/againNH.png");
    -fx-pref-height: 158px;
    -fx-pref-width: 254px;
}

.again:hover{
	-fx-text-fill: transparent;
        -fx-background-image: url("file:assets/buttonImages/againH.png");
        -fx-scale-y: 1.1;
        -fx-scale-x:1.1;
}


.winnerName{
	-fx-font-family: Pangolin;
	-fx-fill: rgba(47,47,47,0.6);
 	-fx-font-size: 100px;
}

.winnerScore{
	-fx-font-family: Pangolin;
	-fx-fill: rgba(47,47,47,0.6);
 	-fx-font-size: 50px;
}

.details{
	-fx-font-family: Pangolin;
	-fx-fill: rgba(47,47,47,0.6);
}
